@import 'src/app/app.component.scss';

section {
  height: 42vw;
  flex-flow: column-reverse;
  padding: 0;
  @media screen and (max-width: 1024px) {
    height: 60vw;
  }
  @media screen and (max-width: 768px) {
    height: 100vw;
  }



}
.text{
  margin:-6em 0;
  @media screen and (max-width: 768px) {
  padding: 1em;
  }
  h2{
    font-size:calc(40px + 1vw);
    width: 8.5em;

    @media screen and (max-width: 768px) {
      font-size: 36px;
    }
    @media screen and (max-width: 468px) {
      font-size: 24px;
    }
  }

}
