@import 'src/app/app.component.scss';


.inicio {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  flex-flow: column-reverse;
  padding: 0;
  @media screen and (max-width: 1024px) {
    height: 80vh;
  }
  @media screen and (max-width: 426px) {
    background-position-x: 55%;
  }
}

.text{
  margin:-6em 0;
  @media screen and (max-width: 320px) {
    padding: 3em 0;
    margin: -3em 0;
  }
  h1{
    font-family:$secondaryFont;
    font-size:max(2.5vw);
    width: 7.3em;
    margin: 0;
    @media screen and (max-width: 1441px) {
      font-size: min(40px);
    }
    @media screen and (max-width: 468px) {
      width: 18.8rem;
    }
    @media screen and (max-width: 320px) {
      font-size:24px;
      width: 12.8rem;
    }
  }

}
