<app-header></app-header>
<section class="contactoText">
  <header>
    <h1>PRIVACIDAD Y PROTECCIÓN DE DATOS (RGPD).</h1>
  </header>
  <div class="contactoContent">
    <p>
      En BILBA creemos en la importancia que tiene el garantizar la seguridad y la identidad de nuestros clientes/usuarios,
      así como el correcto tratamiento de los datos que nos ceden para el desempeño de nuestras funciones.
    </p>
    <p>
      Es por ello que nos hemos adecuado a la normativa europea de protección de datos personales – Reglamento (UE) 2016/679 – y ponemos a su disposición todo lo que necesita para entenderla.
      Además, hemos previsto medidas de seguridad para garantizar el cumplimiento en función de la tipología de datos que usamos y de su correcto tratamiento mediante técnicas de análisis de riesgos.
    </p>
    <p>
      Entre otras, el marco legislativo al que hacemos referencia es el siguiente:
    </p>
    <p>
      Ley Orgánica de Protección de Datos 15/1999 y RD 1720/2007<br>
      Reglamento Europeo (UE) 679/2016<br>
      Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico<br>
      Siguiendo el principio de información por capas que recoge el reglamento, le proporcionamos la información más relevante que puede ser de su interés:

    </p>
    <p>
      ¿QUIÉN ES EL RESPONSABLE? – RESPONSABLE –<br>
      Razón social: BILBA CONSTRUCTORA ANDALUCÍA, S.L.U.
    </p>
    <h3>
      CIF: B-92349760
    </h3>
    <p>
      Oficinas centrales: C/SUSPIROS, 68 – 29.500 ÁLORA (MÁLAGA)
    </p>
    <h3>
      Marca comercial: BILBA
    </h3>
    <p>
      E-mail de contacto: info@bilba.es
    </p>
    <p>
      ¿PARA QUÉ VAMOS A USAR SUS DATOS? – FINALIDAD Y LEGITIMACIÓN –<br>
      En BILBA usamos sus datos para la correcta ejecución de los servicios ofrecidos por nuestra entidad.
    </p>
    <p>Entre otros:</p>
    <p>
      para garantizar el correcto acceso a nuestras instalaciones.<br>
      para el uso adecuado del “Área de Contacto”.<br>
      para gestionar y ejecutar nuestros servicios de construcciones.<br>
      El tratamiento de sus datos para el desarrollo de las actuaciones antes descritas está basado en su consentimiento expreso, que otorga al
      facilitar los datos que se solicitan, rellenando y aceptando este aviso legal.
    </p>
    <p>
      En ningún caso se realizarán acciones individualizadas automatizadas y/o elaboración de perfiles que produzcan efectos jurídicos o le afecten significativamente de modo similar
    </p>
    <p>
      Los datos personales proporcionados se conservarán mientras dure la relación contractual vinculante o no solicite su supresión y siempre que resulten adecuados,
      pertinentes y limitados a lo necesario para los fines para los que sean tratados.
    </p>
    <p>
      El cliente/usuario será el único responsable de la cumplimentación de los formularios con datos falsos, inexactos, incompletos o no actualizados.
    </p>
    <p>
      ¿A QUIÉN COMUNICAREMOS SUS DATOS? – CESIONES O TRANSFERENCIAS –<br>
      Sus datos no serán cedidos a ninguna entidad, profesional o tercero ajeno al propio uso de su información para poder dar un correcto servicio por parte de BILBA.
    </p>
    <p>
      ¿DE DÓNDE OBTENEMOS SUS DATOS? – PROCEDENCIA –<br>
      En BILBA somos conscientes de la importancia que tiene la procedencia legítima en la captación de datos por parte de nuestros clientes y usuarios. A tal efecto, informamos de que BILBA no adquiere bases de datos de terceros.
    </p>
    <p>
      Los datos que utilizamos y damos tratamiento han sido proporcionados por los usuarios y clientes de manera consciente y mediante consentimiento expreso cuando nos ceden los datos.
    </p>
    <p>
      Sus datos pasarán a formar parte de un fichero de clientes/usuarios del cual
      tenemos nuestro Registro de Actividades de Tratamiento (R.A.T.) periódicas según las obligaciones descritas por el Reglamento Europeo.
    </p>
    <p>
      ¿CUÁLES SON SUS DERECHOS Y CÓMO PUEDE EJERCERLOS? – DERECHOS –<br>
      Cualquier socio o usuario tiene derecho a obtener confirmación sobre si en BILBA estamos tratando datos personales que les conciernen o no.

      .</p>
    <p>
      Asimismo, tal y como prevé el Reglamento General de Protección de Datos (RGPD), le informamos que usted tiene los siguientes derechos:
    </p>
    <p>
      Acceder a sus datos<br>
      Como cliente y usuario, tiene derecho a acceder a sus datos para conocer qué datos personales estamos tratando que le conciernan.
    </p>
    <p>
      Solicitar la rectificación o supresión de sus datos<br>
      En determinadas circunstancias, como cliente y usuario, tiene derecho a rectificar
      aquellos datos personales inexactos que le conciernen que sean objeto de tratamiento por nuestra parte o, incluso, a
      solicitarnos su supresión cuando, entre otros motivos, los datos ya no fueran necesarios para los fines que fueron recogidos.
    </p>
    <p>
      Solicitar la limitación del tratamiento de sus datos<br>
      En determinadas circunstancias, como cliente y usuario,
      tendrá derecho a solicitarnos la limitación del tratamiento de sus datos, en cuyo caso le informamos que únicamente los conservaremos
      para el ejercicio o defensa de reclamaciones tal y como prevé el Reglamento General de Protección de Datos.

    </p>
    <p>
      A la portabilidad de sus datos<br>
      En determinadas circunstancias, como cliente y usuario, tendrá derecho a recibir los datos personales que le incumban,
      y que nos haya facilitado, en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable del tratamiento.
      /p>
    <p>
    Oponerse al tratamiento de sus datos
    En determinadas circunstancias y por motivos relacionados con su situación particular,
    como cliente y usuario tendrá derecho a oponerse al tratamiento de sus datos, en cuyo caso dejaríamos de tratarlos salvo por motivos legítimos imperiosos o
    el ejercicio o defensa de posibles reclamaciones.

  </p>
    <p>El usuario tiene derecho a retirar el consentimiento en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada.
      Si bien, en caso de retirar el consentimiento, no podrá hacer uso de nuestros servicios.</p>
    <p>
      ¿DÓNDE DEBE DIRIGIRSE PARA EL EJERCICIO DE SUS DERECHOS?<br>
      Para el ejercicio de los derechos reconocidos, el interesado podrá ponerse en contacto a través de dos vías principales:

    </p>
    <p>
      A través de la dirección de correo electrónico: info@bilba.es<br>
      Dirigiendo un escrito a las oficinas centrales de BILBA, sita en Carretera Pizarra-Álora, A 7077, Km 4.710. 29.500 Álora (Málaga)<br>
      Responderemos a sus peticiones a la mayor brevedad posible y, en todo caso, en los plazos que requiere la legislación vigente.

    </p>
    <p>
      ¿DURANTE CUÁNTO TIEMPO CONSERVAMOS SUS DATOS?<br>
      Sus datos son conservados durante toda la relación en la que prestemos nuestros servicios a los clientes/usuarios.
      Una vez finalizada la relación contractual, sus datos serán almacenados durante los plazos en que la ley nos obligue para la consecución de labores fiscales y administrativas.
    </p>
    <p>
      En cualquier caso, cuando un usuario deje de serlo, sus datos serán bloqueados en el sistema para que no vuelva a recibir información sobre nuestros servicios,
      salvo que nos indique lo contrario y nos haya dado el consentimiento para recibir informaciones.
    </p>
  </div>
</section>
