<app-header></app-header>
<section class="contactoText">
  <header>
    <h1>Aviso Legal</h1>
  </header>
<div class="contactoContent">
  <p>BILBA es la marca comercial bajo la que se aglutinan los servicios ofrecidos por la entidad BILBA CONSTRUCTORA ANDALUCÍA S.L.U. con C.I.F.: B/92.349.760 y domicilio en C/Suspiro, 68 – 29.500 Álora (Málaga).</p>
  <p>En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, se informa que:</p>
  <p>Su denominación comercial es BILBA<br>
    Su C.I.F. es B/92.349.760<br>
    Su domicilio social está en: C/Suspiro, 68 – 29.500 Álora (Málaga). Aquí podrá ejercer sus derechos de Acceso, Rectificación,
    Cancelación y Oposición así como cualquier ejercicio propio relacionado con la cesión de datos a través de este espacio web.
    Los servicios ofrecidos por BILBA son los relacionados con la realización de Servicios Integrales de Edificación, Rehabilitación, Obra Civil e Instalaciones y Mantenimientos.
  </p>
  <h3>CONFIDENCIALIDAD DE LA INFORMACIÓN OBTENIDA EN ESTA WEB</h3>
  <p>BILBA y su red de colaboradores se comprometen a no divulgar ni hacer uso de la información a la que hayan accedido por razón de su profesión,
    por así disponerlo el artículo 5 del Código Deontológico de la Abogacía Española. La información suministrada por el cliente tendrá, en todo caso, la consideración de confidencial, sin que pueda ser utilizada para otros fines que los relacionados con los servicios contratados a BILBA.
  </p>
  <h3>
    COMUNICACIONES DE DATOS A TERCEROS
  </h3>
  <p>
    Para poder satisfacer su petición o solicitud de información,
    puede ser necesario que sus Datos sean comunicados por BILBA a los restantes colaboradores necesarios para el correcto desarrollo de los diferentes servicios.
    La cesión de datos siempre será pertinente y no excesiva, y se velará por el cumplimiento legislativo en materia de protección de datos durante todo el proceso.
  </p>
  <h3>DATOS DE MENORES</h3>
  <p>BILBA nunca recabará datos de menores ni efectuará la grabación y el tratamiento de los mismos.</p>
  <p>BILBA se exime de cualquier responsabilidad por el incumplimiento de este requisito así como de cualquier aportación de datos fraudulenta.</p>
  <h3>NAVEGACIÓN</h3>
  <p>Al navegar por nuestras páginas webs, los servidores de internet almacenarán su dirección IP en los logs de acceso de forma automática y con la única finalidad de permitir el tránsito por internet, siendo necesario que su equipo facilite esta dirección IP cuando navega por internet para que las comunicaciones puedan realizarse.</p>
  <p>Su dirección IP será utilizada para realizar estadísticas sobre el número de visitantes de esta web y su procedencia de forma totalmente transparente a su navegación.</p>
  <h3>
    PROPIEDAD INTELECTUAL Y/O INDUSTRIAL
  </h3>
  <p>La totalidad de este website, es decir, los elementos que lo componen (textos, imágenes, marcas, logotipos, archivos de audio, archivos de software,
    combinaciones de colores), así como la estructura, selección y orden de sus contenidos, se encuentran protegidos por la normativa de Propiedad Intelectual e Industrial,
    no pudiendo ser objeto de explotación, reproducción, distribución, modificación, comunicación pública, cesión o transformación o cualquier otra forma de difusión no autorizada expresamente.
    BILBA se reserva la posibilidad de ejercer las acciones legales que correspondan contra los usuarios que violen o infrinjan los derechos de propiedad intelectual y/o industrial.
  </p>
  <h3>EXACTITUD Y VERACIDAD DE LOS DATOS</h3>
  <p>El usuario es el único responsable de la veracidad y corrección de los datos que remita a BILBA exonerando al Prestador de cualquier responsabilidad al respecto. Los usuarios garantizan y responden, en cualquier caso, de la exactitud, vigencia y autenticidad de los datos personales facilitados, y se comprometen a mantenerlos debidamente actualizados. El usuario acepta proporcionar información completa y correcta en el formulario de registro o suscripción.
  </p>
  <p>BILBA no responde de la veracidad de las informaciones que no sean de elaboración propia y de las que se indique otra fuente, por lo que tampoco asume responsabilidad alguna en cuanto a hipotéticos perjuicios que pudieran originarse por el uso de dicha información.</p>
  <h3>
    POLÍTICA DE COOKIES
  </h3>
  <p>Léase el espacio habilitado para esta información.</p>
</div>
</section>
