<section id="conocenos">
<header>
  <div class="title">
    <h4>Conócenos</h4>
    <i class="fas fa-arrow-down"></i>
  </div>
</header>
  <div class="textContant">
    <h3>Un servicio integral adaptado a los requerimientos de
      cada cliente
    </h3>
    <p>
      En nuestro sector cada proyecto tiene unas características propias que necesitan una respuesta a su medida.
      Por eso, tanto en la fabricación y suministro de áridos como en la ejecución de Obra Civil, estudiamos cada
      caso con rigor profesional y en estrecha comunicación con nuestros clientes, empleando los recursos humanos y materiales necesarios para garantizar
      la calidad de nuestro servicio.
    </p>
  </div>
</section>
