@import 'src/app/app.component.scss';


h3{
  margin:  0 0 5rem 0;
}
  .project-cards {
    @include d-center;
    text-align: center;
    gap: 1rem;
    @media screen and (max-width: 1420px) {
      gap: 5rem;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 710px) {
      flex-flow: column;
    }
    .project-card{
      @include  size(43.5vh,22%);
      position: relative;
      @include d-center;

      @media screen and (max-width: 1441px) {
        width: 30%;
      }
      @media screen and (max-width: 1025px) {
        width: 40%;
      }
      @media screen and (max-width: 710px) {
        width: 100%;
      }
      @media screen and (max-width: 281px) {
        height: 35rem;
      }
      img{
        @include size(100%,100%)
      }
      .card-overlay{
        padding: 1em;
        position: absolute;
        bottom: -1rem;
        background-color:$secondaryBgColor;
        color:$mainFontColor;
        width: 90%;
        height: 25%;
        transition: height .4s ease-in-out;
        h5{
          font-family:$secondaryFont;
          font-size: 24px;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: .5em;
          @media screen and (max-width: 1441px) {
            font-size: 20px;
          }
          @media screen and (max-width: 426px) {
            font-size: 18px;
          }
        }
        p{
          opacity: 0;
          height: 0;
          visibility: hidden;
          font-size: 16px;
          transition: opacity .1s ease-in-out,height .4s ease-in-out;
          @media screen and (max-width: 768px) {
            font-size: 32px;
          }
          @media screen and (max-width: 426px) {
            font-size: 16px;
          }
        }
        i{
          transition: transform .6s ease-in-out;
        }
        &:hover{
          height: 100%;
          transition: height .4s ease-in-out;
        }
        &:hover i{
          transform: rotate(45deg);
          transition: transform .6s ease-in-out;
        }
        &:hover p{
          visibility: visible;
          height: 80%;
          opacity: 1;
          transition: opacity .1s ease-in-out .4s,height .4s ease-in-out;
        }
      }
    }
  }

.proyectos-footer{
  @include d-center;
  color:$mainFontColor;
  margin: 5rem 0;
  .footer-box{
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 392px) {
      display: none;
    }
    i{
      font-size: 24px;
      margin-bottom: 2rem;
      transition: transform .3s ease-in-out;
    }
    &:hover i{
      transition: transform .3s ease-in-out;
      transform: translate(0,2rem);
    }
  }
}
