<footer>
  <div class="footer-content">

    <ul class="first-section">
    <li> <img src="./assets/img/onzagaLogo.png" alt=""></li>
      <li>
        <i class="fas fa-caret-square-down"></i>
        <p>Descargar Dossier Corporativo</p>
      </li>
    </ul>

    <ul class="second-section">
     <li> <h5>Contacta</h5></li>
      <li>Aglomerados Sur</li>
      <li>Avda. del Saucejo S/N</li>
      <li>29330 Almargen (Málaga)</li>
      <li>952182496</li>
    </ul>

    <ul>
      <li>
      <h5> Síguenos</h5>
      </li>
      <li>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
      </li>
    </ul>

    <ul class="fourth-section">
      <li>AVISO LEGAL</li>
      <li>POLÍTICA DE PRIVACIDAD</li>
      <li>POLÍTICA DE COOKIES</li>
    </ul>

  </div>
</footer>
