
<section class="cookies" *ngIf="cookiesView()">
  <div class="cookies-content">
  <p>
    Utilizamos cookies propias y de terceros con finalidades analíticas y para mostrarte publicidad relacionada con tus preferencias a partir de tus hábitos de navegación y tu perfil.
    Puedes configurar o rechazar las cookies haciendo click en “Configuración de cookies”.
    También puedes aceptar todas las cookies pulsando el botón “Aceptar todas las cookies”.
    Para más información puedes visitar nuestra<a routerLink="cookies"> Política de cookies</a>
  </p>
<button type="submit">Aceptar todas las cookies</button>
  </div>
</section>
