@import 'src/app/app.component.scss';


section{
  padding: 0;
}
.wrapper {
  @include d-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 42vw;
  flex-flow: column;
  @media screen and (max-width: 1024px) {
    height: 60vw;
  }
  @media screen and (max-width: 391px) {
    background-position-x: 55%;
    height: 57vh;
  }

  header {
  padding: 0 10em;
    @media screen and (min-width:1950px) {
      padding: 0 20em;
    }
    @media screen and (min-width:2800px) {
      padding: 0 20em;
    }
    @media screen and (max-width: 1800px) {
      padding: 0 5em;
    }
    @media screen and (max-width: 792px) {
      padding: 0 1em;
    }
    .title{
      margin: 1rem 0;
      h4,i{
        color:$whiteFont;
      }
    }

  }
}
.empresas-blog{
  @include d-center;
  margin-top:-15rem;
  .empresas-blog-text {
    @include d-between;
    padding: 3em 2.4em;
    @media screen and (max-width: 321px) {
      padding: .5rem;
    }
    h2 {
      width: 6em;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    p {
      width: 27vw;
      @media screen and (max-width: 1441px) {
        width: 46vw;
      }
      @media screen and (max-width: 1025px) {
        width: 70%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
  ul {
    width: 70%;
  }
  @media screen and (max-width: 1020px) {
    margin: 0;
  }
}
.text{
  align-items: flex-start;
  background-color:$mainBgColor;
  width: 50%;
  padding: 5em 1em;
  margin: 0;

  @media screen and (max-width: 1468px) {
    width: 90%;
  }
  @media screen and (max-width: 1020px) {
    padding: 3em 2em;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    flex-flow: column;
  }

}
.empresas-img-text {
  flex-flow: column;
  width: 77%;
  color: $whiteFont;
  margin-top: -10rem;
  transform:translate(0,0);
  padding: 2.3em 1.5em;
  @media screen and (max-width: 1020px) {
    width: 100%;
    padding: 2.2rem;
    margin-top: -.5em ;
  }
  span{
    content:'';
    width: 100%;
    height: 1px;
    background-color:$whiteFont;
    @media screen and (max-width: 391px) {
      display: none;
    }
  }
  p{
    padding: 3em  0;
    width:23vw;
    font-size: 18px;
    @media screen and (max-width: 1720px) {
      width: 100%;
    }
  }

  h2 {
    font-size: max(1.35vw);
    margin: 0;
    width: 100%;
    @media screen and (max-width: 768px) {
      font-size: min(30px);
    }

  }
  .empresas-footer {
    width: 100%;
    @include d-between;
    margin-top: 1em;
    @media screen and (max-width: 391px){
    @include d-center;
      gap: 2rem;
    }
    h6 {
      font-size: 16px;
      letter-spacing: 1px;
    }
    i {
      font-size: 20px;
      transform: translate(-2rem, 0);
      transition: transform .3s ease-in-out;
      @media screen and (max-width: 391px){
        transform: translate(0, 0);
      }
    }
    &:hover i {
      transform: translate(0, 0);
      transition: transform .3s ease-in-out;
    }
  }
}
.empresas-text{
  text-align: center;
  color:$mainFontColor;
  width: 100%;
  margin: 5rem 0;
  @include d-center;
  @media screen and (max-width: 768px) {
    text-align: start;
  }
  p{
    font-size: 26px;
    width: 44%;
    @media screen and (min-width:2800px) {
      font-size: 46px;
    }
    @media screen and (max-width: 1020px) {
      width: 90%;
    }
  }
}
.empresas-img-contant {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 4em;
  @media screen and (max-width: 1020px) {
   flex-flow: column;
    gap: 0;
  }
  @media screen and (max-width: 768px) {
    padding: 0 ;
  }

  .empresas-img {
    width: 36%;
    @media screen and (max-width: 1468px) {
    width: 100%;
    }
    img {
      width: 100%;
      @media screen and (max-width: 1024px) {
        height: 47vh;
      }

    }
  }
}
