<section id="empresas" >
<div class="wrapper"  [ngStyle]=
  "bgBig && {backgroundImage: 'url(./assets/img/Onzaga_previos_dosier--42.png)' } ||
   bgSmall && {backgroundImage: 'url(./assets/img/IMG.png)'}">
  <header>
    <div class="title">
    <h4>EMPRESAS</h4>
    <i class="fas fa-arrow-down"></i>
    </div>
  </header>
</div>
  <div class="empresas-blog">
  <div class=" empresas-blog-text text">
    <h2>
      CANTERAS ALMARGEN
    </h2>
    <p>
      Desde la experiencia de 35 años dedicados al sector de la construcción,
      Canteras de Almargen fabrica y suministra todo tipo de áridos de alta calidad y ejecuta Obra Civil de principio a fin.
      Siempre trabajando desde valores empresariales como la innovación,
      la inversión en tecnología, la cualificación profesional y el respeto al medio ambiente.
    </p>
  </div>
  </div>
  <div class="empresas-text">
    <p>
      Canteras de Almargen colabora estrechamente en un grupo de empresas
      para garantizar un servicio integral y de calidad.
    </p>
  </div>
  <div class="empresas-img-contant">
    <div class="empresas-img">
      <picture>
        <source media="(max-width: 426px)" srcset='./assets/img/Onzaga_previos_dosier-1-8@2x.png'>
        <img src="./assets/img/Onzaga_previos_dosier-1-8.png" alt="">
      </picture>
<!--      <img src="./assets/img/Onzaga_previos_dosier-1-8.png" alt="">-->
      <div class="text empresas-img-text"  style="background-color: #3B5971">
        <h2>AGLOMERADOS SUR</h2>
        <p>Empresa fabricante de mezclas bituminosas de alta calidad garantizada,
          con equipo de extendido y transporte propios, que está emplazada en el centro geográfico
          de Andalucía y ofrece servicios en las provincias de Málaga, Sevilla, Cádiz y Córdoba.
        </p>
        <span></span>
        <div class="empresas-footer">
          <h6>SABER MÁS</h6>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>

    <div class="empresas-img">
      <picture>
        <source media="(max-width: 426px)" srcset='./assets/img/Onzaga_previos_dosier-1-14@2x.png'>
        <img src="./assets/img/Onzaga_previos_dosier-1-14.png" alt="">
      </picture>
<!--      <img  src="./assets/img/Onzaga_previos_dosier-1-14.png" alt="">-->
      <div class="text empresas-img-text"  style="background-color: #53575A">
        <h2>HORMIGONES FORZA</h2>
        <p>Empresa fabricante de mezclas bituminosas de alta calidad garantizada,
          con equipo de extendido y transporte propios,
          que está emplazada en el centro geográfico de Andalucía y ofrece servicios en las provincias de Málaga,
          Sevilla, Cádiz y Córdoba.
        </p>
        <span></span>
        <div class="empresas-footer">
          <h6>SABER MÁS</h6>
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>
