<section id="contacto">
  <header>
    <div class="title">
      <h4>contacto</h4>
      <i class="fas fa-arrow-down"></i>
    </div>
  </header>
<div class="content">
    <h3>¿en qué podemos ayudarte?</h3>
    <ul>
      <li>
        <p>Quiero hacer un pedido</p>
        <i class="fas fa-chevron-down"></i>
      </li>
      <li>
        <p>Me gustaría trabajar con vosotros</p>
        <i class="fas fa-chevron-down"></i>
      </li>
      <li>
        <p>necesito material de  prensa</p>
        <i class="fas fa-chevron-down"></i>
      </li>
      <li>
        <p>Otras consultas</p>
        <i class="fas fa-chevron-down"></i>
      </li>


    </ul>

</div>

</section>
