@import 'src/app/app.component.scss';

section{
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}
header{
  .title{
    @media screen and (max-width: 391px) {
      margin: 0;
      padding: 1em;
      position: absolute;
      z-index: 2;
      i{
        color:$whiteFont;
      }
    }
  }
  @media screen and (max-width: 392px) {
    position: absolute;
    z-index: 2;
  }
  h4{
    @media screen and (max-width: 1024px) {
      padding: 0 0 0 5rem ;
    }
    @media screen and (max-width: 768px) {
      padding: 0 1rem;
    }
    @media screen and (max-width: 392px) {
    color:$whiteFont;
    }
  }
}
    .carousel {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;
      gap: 1rem;
      width: 70.835vw;
      &::-webkit-scrollbar {
        height: 0;
      }
      @media screen and (max-width: 769px) {
        width: 100%;
        gap: .5rem;
      }

      .carouselImg {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        @media screen and (max-width: 1441px) {
         align-items: center;
        }
        picture{
          @include d-center;
        }
        img {
          @include size(31.25vw, 70.835vw);
          @media screen and (max-width: 1025px) {
            @include size(unset,80vw);
          }
          @media screen and (max-width: 769px) {
            @include size(unset,100vw);
          }
        }
        .carousel-text {
          margin: -6.5rem 8rem 0 0;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          flex-flow: column;
          padding: 3.5rem 1.5rem;
          width: 39vw;
          @media screen and (max-width: 1568px) {
            margin: -10rem 8rem 0 0;
          }
          @media screen and (max-width: 1441px) {
            width: 70%;
            margin: -10rem 0 0 0;
          }
          @media screen and (max-width: 769px) {
            margin: -1rem 0 0 0;
            padding: 2rem;
            width: 100%;
          }
          @media screen and (max-width: 321px) {
            padding: .5rem;
          }
            p{
              width: 33rem;
              @media screen and (max-width: 1441px) {
                width: 100%;
            }
          }
          .text {
            padding: 4em;
            flex-flow: column;
            margin: 0;
            align-items: flex-end;
          }
        }
      }
    }

    .scrollBtn {
      margin-top:-11.5rem;
      width: 100%;
      padding: 0 0 0 9vw;

      @media screen and (min-width: 1950px) {
        padding: 0 0 0 4vw;
        width: 70vw;
      }
      @media screen and (max-width: 1568px) {
        margin: 5rem 0 0 -8rem;
        @include d-center;
      }

      img {
        cursor: pointer;
        margin: 0 3rem;
        transform: rotate(360deg);
        &:nth-child(2) {
          cursor: pointer;
          transform: rotate(180deg);
        }
      }
    }

    .scrollPoints {
      width: 100%;
      @include d-center;
      gap: 1rem;
      cursor:pointer;
      margin: 5rem 0 0 0;
      .brownBg{
        background-color:$mainBgColor;
        transition: background-color .3s ease-in-out;
      }
      span {
        cursor:pointer;
        @include size(1rem, 1rem);
        border-radius: 50%;
        border: 1px solid $mainBgColor;
        transition: background-color .3s ease-in-out;
      }
    }


