





<section id="servicios">
<header>
  <div class="title">
    <h4>servicios</h4>
    <i class="fas fa-arrow-down"></i>
  </div>
</header>

    <div class="content">
  <div class="carousel" id="carouselWindow">
    <div class="carouselImg" id="carouelCard" *ngFor=" let img of servisioImg">
      <img  src='{{img.img}}' alt="img1">
      <div class="carousel-text text" id="carouselText">
        <h2>{{img.title}}</h2>
        <p>{{img.text}}</p>
      </div>
    </div>
  </div>
      <div class="scrollBtn" *ngIf="pointsView();else  scrollPoints">
        <img src="./assets/img/arrow-long.png" id="previous" (click)="scrollNext()" alt="right-arrow">
        <img src="./assets/img/arrow-long.png" id="next" (click)="scrollReset()" alt="left-arrow">
      </div>
      <ng-template #scrollPoints>
        <div class="scrollPoints">
          <span class="brownBg" (click)="scrollWhithPoints($event)"></span>
          <span (click)="scrollWhithPoints($event)"></span>
          <span (click)="scrollWhithPoints($event)"></span>
        </div>
      </ng-template>
    </div>
</section>
